/* grammer of css

selected tag {
  property:value;
} */

/* property to affect the entire <body> tag */
body {
  background-color:gray;
  /* background can also be an image */
  background-image:url(images/beach-pic.jpg)
}

/* div containers */
div {
background-color:purple;
border-color:blue;
border-width:2px; /*thin;*/
border-style: dotted;
}

span {
  background-color: red;
  color: black;
}
/* paragraphs regardless of where they are */
p {
  color:yellow;
}
/* sylte of h1  */
h1 {
  color: blue;
}

li {

  /* 1. change color with color name */
  /* color:green; */
  /* 2. search color picker for rgb values of different colors  */
  color: rgb(181, 61, 196);
   /* 3. use hex code */
  color: #b53dc4;
  /* 4. rgba, where a stands for alpha to control the transparency */
  color: rgba(181, 61, 196, 0.5);
}
